
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Yrsa:wght@400;700&display=swap');



body {background-color: aliceblue;
}

.btn {
    
    background-color: #faae2b;
    border: 1px solid white;
    color: #00473E;
    font-size: 30px;
}

.wrap {height: auto}

div {height: auto}

body h1 {
    display: block;
    font-size: 40px;
    color: #00473E;

}

body h2 {
    font-size: 30px;
    color: #00473E;
}

body h3 {
    font-size: 20px;
    color: #00473E;
}

body h4 {
    font-size: 14px;
    color: #00473E;
    font-family: 'Yrsa', serif;
    font-weight: 700;
}

body h5 {
    font-size: 14px;
    color: #00473E;
    font-family: 'Yrsa', serif;
    font-weight: 400;

}

.container{
    display: flex;
    flex-flow: row wrap;
    

}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: 0;
}

.container-fluid img {
    flex-shrink: 0;
    width: 100%;

}

.wrap{
    
    /* justify-content: center;
    align-items: center; */
    position: relative;
    height: auto;
}

.headertext {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate (-50%, -20%);

}