// Hero 
.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/background.jpg");
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
@media only screen and (max-width: 500px){
    .hero-image{
    height: 600px;
    }

}
.hero-text{
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
//banner
.banner-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/Eatery-Order-Now.jpg");
    height: 625px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner-text{
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//about section

.about{
    background: $lightGreen;
}
.menu-section{
    background: $green;
}
.headline {
    color: $white;
}
.menu-content{
    margin-top: 0;
}
.menu_text{
    color: $white;
    font-size: 20px;
}
//menu-section

.image_holder{
    margin-top: 0;
}
//menu items card

.item-container{
    display: flex;
}
