
.footer {
    background: $pink;
    margin-top: 0;
    padding-bottom: 20px;
    
}
.footer-content{
    padding-bottom: 50px;
}
.tagline, .tagline2 {
    font-family: 'continuo', sans-serif;
    font-size: 40px;
    margin-top: 0;
    
}
.tagline2 {
    margin-top: 20px;
    color: $green;
}

.sitemap{
    display: block;
    margin-top: 0;
}
.sitemap-list{
    color: $green;
    font-family: 'basic-sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    display: block;
}
.lists{
    display: inline-flex;
    /* flex-direction: row; */
    justify-content: space-between;
}
ul{
    padding-left: 0;
}
.subscribe-form{
    background-color: $white;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    align-content: space-between;
}
@media only screen and (max-width: 500px){
    .subscribe-form{
        font-size: 20px;
    
    }

}
.form-control{
    border-color: $green;
}
.btn-dark{
    background-color: $green;
}
.btn-dark:hover{
    background-color: $grey;
    
}
.subscribe-button{
    padding-top: 10px;
}